.container-fluid,.card {
  width: auto;
  height: auto;
  object-fit: cover;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 3%;
  bottom: 0%;
  right: 0;
  overflow: hidden; /* or auto or scroll */
}

.profile-card {
  text-align: center;
  padding: 5px;
}

.profile-card>img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-top: 30px;
  background-color: lightslategrey;
  font-size: 40px;
  font-weight: bold;
}

.center {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
